/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.eot");
  src: url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.woff2") format("woff2"),
       url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.woff") format("woff"),
       url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.ttf") format("truetype"),
       url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_81eab5e9de6c68521b67b46a5d04754d.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-dataAsset:before,
.icon-dataManage:before,
.icon-dataUse:before,
.icon-m-hgl:before,
.icon-m-lcsqqk:before,
.icon-m-sjczsj:before,
.icon-m-wtsjl:before,
.icon-m-ysjsj:before,
.icon-m-ysjzljh:before,
.icon-m-ywxtzljh:before,
.icon-m-zlsjl:before,
.icon-m-zqsjl:before,
.icon-m-zsjzljh:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-dataAsset:before { content: "\f100"; }
.icon-dataManage:before { content: "\f101"; }
.icon-dataUse:before { content: "\f102"; }
.icon-m-hgl:before { content: "\f109"; }
.icon-m-lcsqqk:before { content: "\f103"; }
.icon-m-sjczsj:before { content: "\f104"; }
.icon-m-wtsjl:before { content: "\f10a"; }
.icon-m-ysjsj:before { content: "\f105"; }
.icon-m-ysjzljh:before { content: "\f106"; }
.icon-m-ywxtzljh:before { content: "\f107"; }
.icon-m-zlsjl:before { content: "\f10b"; }
.icon-m-zqsjl:before { content: "\f10c"; }
.icon-m-zsjzljh:before { content: "\f108"; }
